*{
  font-family: 'Libre Baskerville', serif;
  color:white;
}


body {
  background-image: url('../images/Football_Background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
    font-size: 50px;
}
tr:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 117, 0.815);
}

.box {
	background-color: rgba(0, 0, 255, 0.4);
}

.center{
  text-align: center;
}

div1 {
    border: 2px solid grey;
    border-radius: 16px;
    width: 680px;
    height: 470px;
    background-color: white;
    position: absolute;
    left: 120px;
    top: 120px;
  }

  div2 {
    border: 2px solid grey;
    border-radius: 16px;
    width: 840px;
    height: 470px;
    background: #eee;
    position: absolute;
    left: 950px;
    top: 120px;
  }

  div3 {
    border: 2px solid grey;
    border-radius: 16px;
    width: 1670px;
    height: 270px;
    background: #eee;
    position: absolute;
    left: 120px;
    top: 640px;
  }

  #rangliste a {
    font-size: 50px;
    display: inline-block;
    text-align: center;
    line-height: 440px;
    text-decoration: none;
 
    font-size: 50px;
    border-radius: 16px;
    width: 680px;
    height: 470px;
    position: relative;
}

#rangliste a:hover{
   background-color: rgba(0, 0, 250, 0.5);
}

.padd{
  margin: 20px;
}